.movieCard{
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}

.movieCard:hover{
    transform: scale(1.1);
}

.movieImg{
    border-radius: 10px;
}

@media(max-width:580px){
    .movieImg{
        width: 80%;
        height: auto;
    }
    .movieCard{
        font-size: 2rem;
    }
}