.searchForm{
    display: flex;
    justify-content: center;
}

.searchDiv{
    position: relative;
}

.searchInput{
    height: 30px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
}

.searchInput:focus{
    outline: none;
    opacity: .8;
}


.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
}