.spinner{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.animation{
    animation: spinning 1s linear infinite;
}

@keyframes spinning {
    to{
        transform: rotate(360deg);
    }
}